<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>好宜买</webname>
  <weburl>http://www.goodebuy.com</weburl>
  <weblogo />
  <webcompany>好宜买</webcompany>
  <webaddress>安徽省合肥市瑶海区</webaddress>
  <webtel />
  <webfax>-</webfax>
  <webmail />
  <webcrod />
  <webtitle>好宜买</webtitle>
  <webkeyword>好宜买</webkeyword>
  <webdescription>好宜买</webdescription>
  <webcopyright>版权所有 好宜买© Copyright 2009 - 2014. goodebuy.com. All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>1</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode />
  <smsapiurl>http://api.52ao.com/</smsapiurl>
  <smsusername>admin</smsusername>
  <smspassword>21232f297a57a5a743894a0e4a801fc3</smspassword>
  <emailsmtp>smtp.163.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>lhee@163.com</emailfrom>
  <emailusername>lhee@163.com</emailusername>
  <emailpassword>8F30F6A1966DF8A8</emailpassword>
  <emailnickname>好宜买</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>500</thumbnailheight>
  <thumbnailwidth>500</thumbnailwidth>
  <watermarktype>0</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>恒24</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>ax_</sysdatabaseprefix>
  <sysencryptstring>AoXiang</sysencryptstring>
</siteconfig>